
body {
    margin: 0;
    background-color: #222222;
    overflow: hidden;
    /* cursor: none; */
}

#game {
    display: flex;
}

#game-canvas {
    display: flex;
    width: 1364px;
    height: 766px;
    margin: auto;
    border: 2px solid #222222;
}


